# Backend
DATABASE_URL="postgresql://commandix:commandix_pass@localhost:5432/commandix_db?schema=public"
JWT_SECRET="super_secret_jwt_key_for_poc"
JWT_REFRESH_SECRET="super_secret_refresh_key_for_poc"
PORT=3000

# Frontend
VITE_API_URL="http://localhost:3000"
